
body {
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
li {
    list-style-type: none;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    text-decoration: none;
    color: #212121;
}
.header {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.navigation {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.social--section {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.overflov-a:hover .overflov-2,
.overflov-a:focus .overflov-2 {
    transform: translateY(0%);
}

.over-blue {
    position: relative;
    overflow: hidden;
}
.b-radius2 {
fill: #ffff;
background: rgba(255, 255, 255, 0.1);;
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
border-radius: 50%; 
transition: 250ms;
}
.b-radius2:hover,
.b-radius2:focus {
    background: #2196F3;

}
.b-radius {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%; 
    fill: #AFB1B8;
    transition: 250ml;
}
.nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.products {
    padding-left: 0;
}
.container--{
    padding-left: 0;
}
.header .container {
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}
.bm {
    border-top: 1px solid #ECECEC;;
}
.container {
    width: 1170px;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    align-items: center;
}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.icon-svg {
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.navigation-link:hover,
.navigation-link:focus {
    color: #2196F3;
}
.mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
    font-style: normal;
    
}
.mail-link:hover,
.mail-link:focus {
    color: #2196F3;
    text-decoration: underline;
}
.tel-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 30px;
    font-style: normal;
}
.contacts a:hover {
    fill: #2196F3;
    transition: 250ms;
}
.tel-link:hover,
.tel-link:focus {
    color: #2196F3;
    text-decoration: underline;
}
.logo-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}
.web-logo {
    color:#2196F3;
}

.ds-text {
    margin-top: 10px;
    color: #757575;
    margin-right: 32px;
    box-sizing: border-box;
    
}

.cover {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.foter-social {
    display: flex;
    margin: 0 auto;
    width: 1170px;
}
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.social-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
}
.welcom {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    }
.link-radius {
    margin-right: 10px;
}
.welcom-links {
    margin-top: 10px;
    margin-left: 70px;
}
.pad2 {
    font-style: normal;
    justify-content: space-between;
    margin-bottom: 9px;
    margin-top: 9px;
}
.padding-footer {
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffff;
}
.top-padding {
    padding-top: 94px;
}
.top-container {
    background-color: #F5F4FA;
}
.adress-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.box-shadow {
    margin-right: 30px;
}
.menu {
    font-weight: 500;
    background-color: #F5F4FA;;
    border-radius: 4px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
}
.products {
    display: flex;
    padding-right: 0;
    flex-wrap: wrap;
}
.top-menu {
    display: flex;
    justify-content: center;    
    margin-top: 94px;
    margin-bottom: 50px;
}
.padding-left-rigt {
    padding-left: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.margin {
    margin-top: 30px;
}
.products:nth-child(-n+6) {
    margin-bottom: 94px;
}

.products-p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 20px;
}
.products-p-h2 {
    border: 1px solid #EEEEEE;
    border-top: none;
}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: 250ms;
}

.navigation-link::after {
    position: absolute;
    background: #2196F3;
    transition: 250ms;
}
.mail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
    font-style: normal;
    
}
.navigation-studio {
    color: #2196F3;
}
.mail-link:hover,
.mail-link:focus {
    color: #2196F3;
    text-decoration: underline;
}

.mail-link:hover,
.mail-link:focus {
    fill: #2196F3;
    text-decoration: underline;
    
}
.navigation-studio::after {
    background: #2196F3;
    width: 100%;
    height: 4px; 
    bottom: -39px;
    left: -1px;
    border-radius: 2px;
    content: "";
    transition: 250ms;
}
.navigation-link {
    position: relative;
    transition: 250ms;

}
.overflov-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    color: #ffff;
    background: rgba(33, 150, 243, 0.9);
    padding-bottom: 63px;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products h2 {
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
padding-top: 20px;
border-bottom: none;
}

.mail-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.menu:not(:last-child) {
    margin-right: 8px;
}
.menu:hover, 
.menu:focus {
    color: #ffff;
    background-color: #2196F3;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
.tel-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 60px;
}
.pad {
    font-style: normal;
    justify-content: space-between;
    padding-top: 20px;
}